
@font-face{
    font-family: 'Cedarville Cursive', cursive;
    src: url('Cedarville-Cursive.ttf');
	
}

/** header *//

#bloc_entete {
	background-image: url('../img/image_fond_menu.jpg');
	height:500px;
	background-position-x:center;
	background-repeat:no-repeat;

}

.intro-header {
	/*background-image: url('../img/image_fond_menu.jpg');
	position:absolute;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position-x: center;
	width:100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height:800px;*/
	
}

.btn-primary {
	background-color: black;
	margin:10px 15px;
	}

.btn-primary a {
	color: yellow;
	font-family: Cedarville-Cursive,sans-serif;
	font-size:24px;
	font-weight:bold;
	}


.navbar-custom {
	background-color: transparent;
}

#mainNav {
	background-color: transparent;
	border:none;
}

#bs-example-navbar-collapse-1 {
	margin-top:300px;
}

.icon_social {
	margin:15px;
}

#bloc_transition {

}

/*Qui sommes nous ?*/
h2{
	text-align: center;
}
.valeur {
	text-align: justify;

}
.img_qui_sommes_nous {
	border: 5px solid black;
}

/*Ou est le camion*/

.img_ou_est_le_camion{
	border: 5px solid black;
}
.lieu p {
	display: inline-block;
}
.lieu .btnlieu {
	width: 10%
}
.ou_est_le_camion h3{
	display: inline-block;
}

@media only screen and (max-width: 768px) {
	.btncarte {
		display: none;
		
	}
}

@media only screen and (min-width: 768px) {
	.btncartemobile {
		display: none;
	}
}


