/*Qui sommes nous ?*/
h2{
	text-align: center;
}
.valeur {
	text-align: justify;

}
.img_qui_sommes_nous {
	border: 5px solid black;
}

/*Ou est le camion*/

.img_ou_est_le_camion{
	border: 5px solid black;
}
.lieu p {
	display: inline-block;
}
.lieu .btnlieu {
	width: 10%
}
.ou_est_le_camion h3{
	display: inline-block;
}